<!DOCTYPE html>
<!--现在是 国际化操作-->
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
    <head>
    <title>login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../static/css/index.css" rel="stylesheet" type="text/css"/>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" type="text/css"> <!-- 引入样式 -->

    <!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <!-- 包括所有已编译的插件 -->
    <script src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/isUserEmpty.js"></script>
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
            <form action="doLogin" method="post">
                账号：<input type="text" name="useraccnum" id="useraccnum" onblur="" placeholder="请输入账号"/><span id="userinfo"></span><br>
                密码：<input type="password" name="userpass" id="userpass" placeholder="请输入密码"/><br>
                <input type="submit" value="登录"/><a class="h4" href="toregister" >点击注册</a>
            </form>
        </div>
    </div>
</div>
</body>
</html>
