<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--${value}只能写value,而且不会自动加上引号，适用于排序-->
<!--#{value}中间写什么都行,而且会自动加上引号，不适用于排序-->
<mapper namespace="com.bootssmserver.bootssmserver.dao.VideoMapper">

    <insert id="insertVideo" parameterType="com.bootssmserver.bootssmserver.entity.Video" keyProperty="vid"><!--返回vid-->
        insert into video(upid,videoname,videotype,videoabstract,createdate) values (#{upid},#{videoname},#{videotype},#{videoabstract},#{createdate})
    </insert>

    <select id="SelectAllVideoByNum" parameterType="int" resultType="com.bootssmserver.bootssmserver.entity.Video">
        select * from video ORDER BY playcount DESC LIMIT #{pagenum},12
    </select>
    <select id="SelectVideoByType" parameterType="String" resultType="com.bootssmserver.bootssmserver.entity.Video">
        select * from video where videotype = #{vtype}
    </select>
    <select id="SelectAllVideoType" resultType="com.bootssmserver.bootssmserver.entity.VideoType">
        select * from videoType
    </select>
    <select id="SelectAllVideoCount" resultType="int">
        select count(*) from video
    </select>
    <select id="SelectVideoByID" parameterType="int" resultType="com.bootssmserver.bootssmserver.entity.Video">
        select * from video where vid = #{vid}
    </select>
    <select id="SelectUpByUpID" parameterType="int" resultType="com.bootssmserver.bootssmserver.entity.User">
        select * from user where upid = #{upid}
    </select>
    <select id="SelectVideoByName" parameterType="String" resultType="com.bootssmserver.bootssmserver.entity.Video">
        select * from video where videoname like CONCAT('%',#{videoname},'%')
    </select>
    <select id="SelectOneVideoByName" parameterType="String" resultType="com.bootssmserver.bootssmserver.entity.Video">
        select * from video where videoname = #{videoname}
    </select>
    <update id="UpdateVideoPlayCount" parameterType="int">
        update video set playcount = #{playcount} where vid = #{vid}
    </update>
    <update id="UpdateVideoActionCount" parameterType="int">
        update video set putcount = #{putcount},downcount = #{downcount},collectcount = #{collectcount} where vid = #{vid}
    </update>
    <update id="UpdateVideoMessage" parameterType="com.bootssmserver.bootssmserver.entity.Video">
        update video set videoface = #{videoface},videopath = #{videopath},disid=#{disid} where vid = #{vid}
    </update>
</mapper>